# SPDX-License-Identifier: ISC

Vagrant.configure("2") do |config|
  config.ssh.shell = "/bin/ksh -l"
  config.ssh.sudo_command = "doas %c"
  config.vm.box = "jcmdln/openbsd"

  config.vm.provider "libvirt" do |v|
    v.cpus = 2
    v.loader = "/usr/share/seabios/bios.bin"
    v.memory = 2048
  end
end
